@font-face {
    font-family: "Lack";
    font-style: normal;
    src: url("../fonts/Lack-Regular.otf");
}

span {
    font-family: "Lack";
    font-style: normal;
    font-size: calc(8px + 16 * (100vw / 2000));
    display: flex;
    text-align: center;
    color: #000000;
    margin-left: 5%;
    margin-right: 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 0.3%;
}

body {
    background: #F9E0E0;
    margin: 0px;
}

.logo {
    width: 3%;
    padding-left: 1%;
    padding-right: 1%;
}

.lk {
    width: 2.5%;
    padding-left: 1%;
    padding-right: 1%;
}

.container {
    display: flex;
    justify-content: center;
}